* {
    padding: 0;
    margin: 0;
}

/* Header Classes */
h1  {
    text-shadow: 2px 2px 2px #1d0c0c;
    font-family: 'Lobster', cursive ;
    display: inline-block
}

h3 {
    color: white;
    text-shadow: 2px 2px 2px #1d0c0c;
}

/* Streaming Sources Styles */
.search-settings {
    background-color: lightgray;
    padding: 10px;
    /* margin-top: 5px; */
}

i  {
    color: white;
    justify-content: right;
}
.streaming-sources {
    margin: 0 10px;
    padding: 10px;
}

.hidden {
    display: none;
}

#movie-poster  {
    justify-items: auto;
}

.section {
    /* background-color: #180d6a; */
    background-image: linear-gradient(rgb(255, 255, 255), rgb(9, 6, 54));
    min-height: 500px;
    width: auto;
}

.heading  {
    background-image: linear-gradient(to top right, rgb(30, 207, 184), rgb(68, 13, 146));
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.page-footer  {
    background-image: linear-gradient(to bottom right, rgb(30, 207, 184), rgb(68, 13, 146));

}

footer li  {
    display: inline-block;
}

.fa-facebook,
.fa-twitter,
.fa-instagram, 
.fa-youtube {
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
  }

#search-q-div {
     width: 70%
 }

#search-Btn {
      margin-left: 20px;
      width: auto;

  }

.flex {
      display: flex;
      /* flex-basis: 70%; */
  }

.alts {
      margin: 0 15px;
  }

li {
      display: list-item;
  }

li a {
      color: white;
  }