* {
    padding: 0;
    margin: 0;
}

#search-q-div {
    width: 70%
}

 #search-Btn {

     margin-left: 20px;
     width: auto;

 }

 .flex {
     display: flex;
     /* flex-basis: 70%; */
 }

h1  {
    text-shadow: 2px 2px 2px #1d0c0c;
    font-family: 'Lobster', cursive ;
    display: inline-block
}
h3 {
    font-size: 24px;
    font-weight:300;
    margin-top: 5px;
    
}

h4 {
    font-size: 20px;
    margin: 5px auto 10px auto;
    font-weight:300;
}

/* Streaming Sources Styles */
.search-settings {
    background-color: lightgray;
    padding: 10px;
}

i  {
    color: white;
    float: right;
}
.streaming-sources {
    margin: 0 10px;
    padding: 10px;
}

.hidden {
    display: none;
}

#movie-poster  {
    justify-items: auto;
}

.section {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(56, 60, 60));
    min-height: 500px;
    width: auto;
}

.heading  {
    background-image: linear-gradient(to top right, rgb(30, 207, 184), rgb(68, 13, 146));
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.page-footer  {
    background-image: linear-gradient(to bottom right, rgb(30, 207, 184), rgb(68, 13, 146));
}

li  {
    display: inline-block;
}

.fa-facebook,
.fa-twitter,
.fa-instagram, 
.fa-youtube {
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
  }

#search-q-div {
     width: 70%
 }

#search-Btn {
      margin-left: 20px;
      width: auto;
}

  @media screen and (max-width: 470px) {
    #search-query {
      flex: 1 100%;
      width: 100%;
    }


    h1  {
        text-align: center;
    }

    #search-Btn  {
        width: 100%;
    }

    #social-links  {
        text-align: center;
    }

    #api-section  {
        display: none;
    }
  
  }

.flex {
      display: flex;
  }

#alt-offerings {
    flex-direction: column;
}  

.alts {
      margin: 0 15px;
      flex: 1;
      height: auto;
  }

.alt-offering-section {
    padding: 15px;
    box-shadow: 1px 1px 4px black;
    color: white;
    border-radius: 3px;
}

.alt-offering-section ul li {
    list-style-type: circle;
}

a {
      color: rgb(68, 13, 146);
  }

a:hover {
    color: white;
    text-decoration: underline;
}  

.alts ul li {
    margin-left: 5px;
}

.alts ul li:not(:last-child):after { 
    content: " \00b7";
    color:rgb(68, 13, 146);
}

#caged {
    position: fixed;
    bottom: 0;
    right: 0px;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 210px;
}

.streaming-service-display {
    margin-left: 5px;
}

.streaming-service-display:not(:last-child):after {
    content: " \00b7";
}

.intro-container {
    margin: 5px 0 5px 30px;
}

  @media screen and (max-width: 780px) {
    #search-query {
      flex: 1 100%;
      width: 100%;
    }

    #streaming-settings  {
      flex: 0 100%;
    }

    .streaming-sources  {
        display: inline-block;
    }

    h1  {
        text-align: center;
    }

    #search-Btn  {
        width: 100%;
    }

    #social-links,
    #api-section  {
        text-align: center;
    }

    .section {
        min-height: 500px;
        width: auto;
    }
}

