/* Streaming Sources Styles */
.search-settings {
    background-color: lightgray;
    padding: 10px;
    margin-top: 5px;
}

.streaming-sources {
    margin: 0 10px;
    padding: 10px;
}

.movie-card {
    display: none;
}